:root {
  --black: #212121;
  --white: #ffffff;
  --footer_grey: #2f303a;
  --blue: #2196f3;
  --blue_light: #188ce8;
  --grey: #757575;
  --white_another: #f5f4fa;
  --fonts: "Roboto";
  --icon: #afb1b8;
}

body {
  font-family: var(--fonts), sans-serif;
  color: var(--black);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header nav {
  margin-left: 93px;
}

.contacts-list-header {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}

.pages-list {
  display: flex;
  gap: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
  color: var(--grey);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}

.slogan-title {
  margin: auto;
  color: var(--white);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}

.slogan-button {
  color: var(--white);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: var(--blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 24px;
  margin-top: 30px;
}

.slogan-button:hover,
.slogan-button:focus {
  background-color: var(--blue_light);
}

.sloganchiki {
  padding-top: 94px;
  padding-bottom: 94px;
}

.sloganchiki-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--white_another);
  border-radius: 4px;
}

.sloganchiki-jr {
  gap: 30px;
  display: flex;
}

.sloganchiki-text {
  max-width: 270px;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.contacts-list {
  color: var(--grey);
  font-weight: 500;
  letter-spacing: 0.02em;

  a {
    transition: color 300ms ease-in-out;
  }

  a:hover,
  a:focus {
    color: var(--blue);
  }
}

.pages-list {
  a {
    color: var(--black);
    font-weight: 500;
    transition: color 300ms ease-in-out;
    letter-spacing: 0.02em;
  }

  a:hover,
  a:focus {
    color: var(--blue);
  }
}

.slogan {
  background-color: var(--footer_grey);
}

.slogan-title {
  color: var(--white);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.slogan-button {
  color: var(--white);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.slogan-info-title {
  font-size: 14px;
  color: var(--black);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.slogan-info-text {
  color: var(--grey);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.job-profile {
  text-align: center;
  padding-bottom: 94px;
}

.gid-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-images {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team {
  background: var(--white_another);
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-social-networks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.team-social-networks li {
  width: 44px;
  height: 44px;
}

.team-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon);
  fill: currentColor;
  transition: all 300ms ease-in-out;
}

a.team-social-icons:hover,
a.team-social-icons:focus {
  background-color: var(--blue);
  color: var(--white);
  outline: none;
}

.team-title {
  color: var(--black);
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-profiles {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.team-profiles-jr {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.member-image {
  margin-bottom: 30px;
}

.member-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.member-text {
  color: var(--grey);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.member-div-text {
  padding-bottom: 30px;
}

.clients {
  text-align: center;
  padding: 94px;
  margin: 0;
}
.title-clients {
  color: var(--black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.client a {
  border-radius: 4px;
  border: 1px var(--icon) solid;
  display: inline-block;
  color: var(--icon);
  transition: color 0.5s, border 0.5s;
}

.client a:hover,
.client a:focus {
  color: var(--blue);
  border: 1 px var(--blue) solid;
}

.clients-logo {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  fill: currentColor;
  transition: fill 0.5s;
}

.tab-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons_pages {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  .button_elements {
    color: var(--black);
    background-color: var(--white_another);

    button {
      transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
      border: none;
    }

    button:hover,
    a:focus {
      color: var(--white);
      background-color: var(--blue);
    }
  }
}

.button_elements {
  color: var(--black);
  background: var(--white_another);

  button {
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border: none;
  }

  button:hover,
  a:focus {
    color: var(--white);
    background-color: var(--blue);
  }
  .button_items {
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
  }
}

.project-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}

.project-element {
  border: 1px solid #eee;
  background: var(--white);
  max-width: 370px;
}

.project-element {
  display: block;
}

.project-list-element-text {
  padding: 20px;
}
.project-list-image {
  width: 100%;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--footer_grey);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer address ul li:not(:last-child) {
  margin-bottom: 12px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 28px;
}

.address {
  color: var(--white);
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.footer-socials-text {
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-socials-links {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.footer-socials-links li {
  height: 44px;
  width: 44px;
}

.footer-socials-links-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 100%;
  color: var(--white);
  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.footer-socials-links-icons:hover,
.footer-socials-links-icons:focus {
  color: var(--white);
  fill: currentColor;
  background-color: var(--blue_light);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;

  a {
    transition: color 300ms ease-in-out;
  }

  a:hover,
  a:focus {
    color: var(--blue);
  }
}
