@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
$black: #212121;
$white: #ffffff;
$footer_grey: #2f303a;
$blue: #2196f3;
$blue_light: #188ce8;
$grey: #757575;
$white_another: #f5f4fa;
$fonts: "Roboto";
$icon: #afb1b8;